@model WebBanHang.Areas.Admin.ViewModels.UserVM

<form asp-action="EditUser" asp-area="Admin" asp-controller="User" method="post" enctype="multipart/form-data">

    <div class="form-group mb-2" >
        <label asp-for="@Model.MaKh">User Name: @Model.MaKh</label>
        <input type="hidden" asp-for="@Model.MaKh" />
    </div>

    <div class="form-group mb-2">
        <label asp-for="@Model.MatKhau">Password: @Model.MatKhau</label>
        <input type="hidden" asp-for="@Model.MatKhau" />
    </div>

    <div class="form-group mb-2" style="display: flex; align-items: center;">
        <label asp-for="HieuLuc" style="font-weight: bold; font-size: 16px; margin-right: 10px;">Hieu Luc</label>
        <input asp-for="HieuLuc" type="checkbox" style="width: 20px; height: 20px; margin-right: 10px; cursor: pointer; accent-color: #007bff;" />
    </div>

    <div class="form-group mb-3">
        <label asp-for="@Model.VaiTro"></label>
        <select style="width: 200px" asp-for="@Model.VaiTro" class="form-control">
            <option value="0">User</option>
            <option value="1">Admin</option>
        </select>
        <span asp-validation-for="@Model.VaiTro" class="text-danger"></span>
    </div>

    @* <div class="form-group">
    <label asp-for="@Model.TenLoaiHang"></label>
    <select asp-for="@Model.TenLoaiHang" asp-items="@ViewBag.MaLoai" class="form-control"></select>
    </div> *@

    <button type="submit" class="btn btn-primary">Save</button>
</form>